<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Password Generator</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='css/cover.css')}}">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">P4ss_G3n</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/about">About</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Password generator</h1>
            <h2 class="lead">Input your desired password length:</h2>
            <form class="form-inline row justify-content-center align-items-center" method="POST">
                <div class="form-group mx-sm-2 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="number" name="text" min="10" max="100" class="form-control" id="inputPassword2"
                        placeholder="10-100">
                </div>
                <button type="submit" class="btn btn-secondary mb-2" id="button">Generate</button>
            </form>

            <p class="row justify-content-center text-light" type="text" id="toogle"><b>{{ phrase }}</b></p>


            <div class="row justify-content-center text-light" id="copy">
                <p><b>{{ test }}</b></p>
                <p><b>{{ error_message }}</b></p>
            </div>

            <div class="row justify-content-center align-items-center" style="display: none;" id="button_copy">
                <button class="btn btn-primary" type="button"
                    onclick="CopyToClipboard('copy');return false;">Copy</button>
            </div>


        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Source code <a href="https://gitlab.com/abidueiro/flask-password-generator">Gitlab</a>, by <a>@abidueiro</a>.</p>
            </div>
        </footer>

        <script>
            function tooglecopy(id) {
                var Button = document.getElementById(id);
                Button.style.display = "block";
            }
        </script>

        <script>
            function CopyToClipboard(id) {
                var r = document.createRange();
                r.selectNode(document.getElementById(id));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(r);
                document.execCommand('copy');
                window.getSelection().removeAllRanges();
                alert("Password copied to clipboard");
            }
        </script>
    </div>
</body>

</html>